body {
  background: url(../img/fondo_rosa.png) no-repeat fixed,
    url(../img/background_header.jpg)  fixed;
  background-size: 60% 90%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.info {
  color: rgba(79, 79, 79, 0.687);
  padding: 10px;
  margin: 20px;
  height: 20px;
}
.leer {
  text-decoration: none;
  color: rgb(27, 28, 52);
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 40px;
  box-shadow: 0 0 0 0.2rem rgb(27, 28, 52);
  padding: 7px 19px 7px 19px;
  background-color: #fff;
  font-size: 0.9em;
  position: relative;
  margin: 15px;
}
.digitalise {
  color: rgb(27, 28, 52);
}
.subtitulo {
  color: #fff;
}
.indice {
  height: 160px;
  background-color: rgb(27, 28, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icono {
  font-size: 4em;
  padding-right: 10px;
}
.subtitulo,
.digitalise {
  top: 10px;
  padding: 1px;
}
.ubicacion {
  margin-right: -190px;
}
.experiencia {
  margin-right: -302px;
}
.usuario {
  margin-right: -245px;
}
footer {
  width: 100%;
}
.menu{
  background: #fff;
  float: right;
  margin-right: 50px;

}
.menu a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
  }
  .menu li{
  display:inline-block;
  width: 90px;
  background-color:#fff;
  color:#000;
  text-transform: uppercase;
  margin-top: 10px;
  }
  .menu li:hover{
  background-color:#fff;
  }
  .container {
    margin: 60px;
  }