body {
  background: url(../img/fondo_rosa.png) no-repeat fixed,
              url(../img/background_header.jpg) fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.leer {
  text-decoration: none;
  color: rgb(27, 28, 52);
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 40px;
  box-shadow: 0 0 0 0.2rem rgb(27, 28, 52);
  padding: 7px 30px 7px 30px;
  background-color: #fff;
  position: relative;
}
.digitalise {
  color: rgb(27, 28, 52);
}
.subtitulo {
  color: #fff;
}
.indice{
  height: 160px;
  background-color: rgb(27, 28, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icono {
width: 65px;
height: 70px;
}
.info {
  color: rgb(101, 98, 98);
  padding-top: 30px;
  margin: 90px;
}
.subtitulo,
.digitalise {
  top: 10px;
}
 .ubicacion {
margin-left: -12px;
}
.experiencia, .usuario {
margin-left: -35px;
} 
.menu{
  background: #fff;
  float: right;
  margin-right: 50px;
  margin: 70px;
}
.menu a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
  }
  .menu li{
  display:inline-block;
  width: 90px;
  background-color:#fff;
  color:#000;
  text-transform: uppercase;
  margin-top: 10px;
  }
  .container{
    margin-top: 120px;
  }
 .boton{
   padding-top: 40px;
 }
.cantidades{
  margin-left: 10px;
}
.logo{
  margin-left: 115px;
  margin-top: 70px;
}
